<%- include('partials/header') %>

<section>
    <br />
    <div class="form-style-5">
        <form action="/recipes/edit/<%= id %>" method="POST" autocomplete="off">
            <fieldset>
                <legend>
                    <h3>Edit Recipe</h3>
                </legend>
                <br />
                <label for="recipeName">Recipe Name</label>
                <input type="text" id="recipeName" name="recipeName" value="<%= recipeName %>" required />

                <label for="author">Author</label>
                <input type="text" id="author" name="author" value="<%= author %>" required />

                <label for="additional">Additional Information</label>
                <input type="text" id="additional" name="additional" value="<%= additional %>" />
            </fieldset>
            <br />

            <input type="submit" value="Update Recipe" />
        </form>
    </div>
    <br />
</section>

<%- include('partials/footer') %>