<%- include('partials/header') %>

<section>
    <br />

    <div class="cards-recipes">

        <% for(let i=0; i<detail.length; i++) { %>
        <div class="card" id="<%= detail[i]._id %>">
            <div>
                <img src="/images/<%= detail[i].recipeImage %>" alt="">
            </div>
            <div>
                <h2><%= detail[i].recipeName %></h2>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <p><%= detail[i].author %></p>
                    <a href="/recipes/<%= detail[i].id %>" class="link">View Recipe</a>
                </div>
            </div>
        </div>
        <% } %>

    </div>
</section>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content"></div>
        <a class="close-modal" href="">Close modal</a>
    </div>
</div>


<%- include('partials/footer') %>