<%- include('partials/header') %>

<section>
    <br />

    <div class="cards-recipes">
        <% if (recipe.length>0){ %>
        <% for(let i=0; i<recipe.length; i++) { %>
        <div class="card" id="<%= recipe[i]._id %>">
            <div>
                <img src="/images/<%= recipe[i].recipeImage %>" alt="">
            </div>
            <div>
                <h2><%= recipe[i].recipeName %></h2>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <p><%= recipe[i].author %></p>
                    <a href="/recipes/<%= recipe[i].id %>" class="link">View Recipe</a>
                </div>
            </div>
        </div>

        <% } } else { %>

        <div class="not-found">
            <h2 class="not-found-text">Ooopsie Doopsie... Recipe Not Found</h2>
        </div>
        <% } %>

    </div>
</section>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content"></div>
        <a class="close-modal" href="">Close modal</a>
    </div>
</div>


<%- include('partials/footer') %>