<%- include('../partials/header') %>
<br />
<section>
  <div class="form-style">
    <h5>Reset Password</h5>
    <br />
    <form
      action="/user/settings/change-password"
      method="POST"
      autocomplete="off"
    >
      <div class="input-field">
        <input
          id="oldPassword"
          type="password"
          name="oldPassword"
          value="<%= typeof oldPassword != 'undefined' ? oldPassword : '' %>"
        />
        <label for="oldPassword">Old Password</label>
      </div>

      <div class="input-field">
        <input
          id="newPassword"
          type="password"
          name="newPassword"
          value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>"
        />
        <label for="newPassword">New Password</label>
      </div>

      <div class="input-field">
        <input
          id="newPassword2"
          type="password"
          name="newPassword2"
          value="<%= typeof newPassword2 != 'undefined' ? newPassword2 : '' %>"
        />
        <label for="newPassword2">Confirm New Password</label>
      </div>
      <br />

      <div class="center-align">
        <button
          class="btn waves-effect teal darken-4 waves-light"
          type="submit"
          name="action"
        >
          Change Password
        </button>
      </div>
      <br />
    </form>
  </div>
  <br />
</section>

<%- include('../partials/footer') %>
