<%- include('../partials/header') %>

<section>
    <br /><br />

    <div class="recipes">

        <div class="recipes-card" id="<%= recipe._id %>">
            <div>
                <img src="/images/<%= recipe.recipeImage %>" alt="">
            </div>

            <div>
                <h2><%= recipe.recipeName %></h2>
                <p>Posted by : <%= recipe.user.name %></p>
            </div>
            <% if(user) { %>
            <% if(user.id == recipe.user.id) { %>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <a href="/recipes/edit/<%= recipe._id %>" class="edit-link">Edit Recipe</a>
                <a href="/delete/<%= recipe._id %>" class="delete-link">Delete Recipe</a>
            </div>
            <% } %>
            <% } %>
            <div>
                <div class="ingredients">
                    <div class="recipes-title">
                        <h3>Ingredients</h3>
                        <button class="btn-ingredients">Hide</button>
                    </div>
                    <div class="ingredient-list">
                        <ul class="fa-ul">
                            <% for(let i=0; i<recipe.ingredients.length; i++) { %>
                            <li class="list"><i class="fa-li fa fa-circle"></i><%= recipe.ingredients[i] %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>

                <div class="preparation">
                    <div class="recipes-title">
                        <h3>Preparation</h3>
                        <button class="btn-preparation">Show</button>
                    </div>
                    <div class="preparation-list hide">
                        <ul class="fa-ul">
                            <% for(let i=0; i<recipe.preparation.length; i++) { %>
                            <li class="list"><i class="fa-li fa fa-circle"></i><%= recipe.preparation[i] %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>

                <div class="information">
                    <div class="recipes-title">
                        <h3>Additional Information</h3>
                        <button class="btn-information">Hide</button>
                    </div>
                    <div class="p-information">
                        <p><%= recipe.additional %></p>
                    </div>
                </div>
            </div>
</section>

<%- include('../partials/footer') %>