<%- include('../partials/header') %>

<section>
  <br />
  <br />

  <div class="cards-recipes">
    <% if (recipes.length>0){ %> <% recipes.forEach((recipe) => { %>
    <div class="card" id="<%= recipe._id %>">
      <div class="card-image">
        <img src="/images/<%= recipe.recipeImage %>" alt="" />

        <a
          class="btn-floating halfway-fab waves-effect waves-light red pulse"
          href="/recipes/<%= recipe.id %>"
          ><i class="fa fa-search-plus"></i
        ></a>
      </div>
      <div class="card-content">
        <h6 class="card-title"><%= recipe.recipeName %></h6>
        <p>
          <%= recipe.user.name %>
        </p>
      </div>
    </div>

    <% }) } else { %>

    <div class="not-found">
      <h2 class="not-found-text">
        Ooopsie Doopsie... Recipe Not Found
      </h2>
    </div>
    <% } %>
  </div>
  <br />
</section>

<div class="modal-overlay">
  <div class="modal">
    <div class="modal-content"></div>
    <a class="close-modal" href="">Close modal</a>
  </div>
</div>

<%- include('../partials/footer') %>
